.skills-container {
    margin-top: 50px;
}
.skills-item {
    padding: 20px 0;
    text-align: center;
}
.skills  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
}

 .skills-container img {
    width: 100px;
    height: 100px;
}
@media (max-width:620px){
    .skills{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .skills-item{
        margin-top: 15px;
        margin-left: 10px;
    }
}